html {
  min-height: 100%;
  position: relative;
}

.home {
  border-radius: 50px;
  background: linear-gradient(145deg, #58c7c9, #69ecef);
  box-shadow: 33px 33px 66px #48a1a3,
    -33px -33px 66px #7cffff;
}
.glass
{ width: 702px;
  margin-left: 20%;
  color:#777;
  padding-top: 0;
  padding-top: 0;
  background: rgba( 204, 213, 211, 0.2  );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-top: 48px;
  height: auto;
  text-align: center;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
  margin-bottom: : 0px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.icon
{
  color:#1abc9c;
  margin-bottom: 1rem;
}
